header, section, footer{
    border: 5px solid black;
    height: 500px;
}
section.leftBox, section.rightBox{
    width: 49.19%;
    float: left;
}
header, footer{
    clear: both;
}

@media only screen and (max-width: 600px) {
    header, section, footer{
        height: 300px
    }
    section.leftBox, section.rightBox{
        width: 98%;
    }
}

@media (min-width:601px) and (max-width: 900px) {
    header, section, footer{
        height: 400px
    }
    section.lefBox, section.rightBox{
        width: 47%
    }
}
@media (min-width: 901px) and (max-width: 1250px) {
    header, section, footer{
        height: 500px
    }
    section.leftBox, section.rightBox{
        width: 48.7%
    }
}